body,h1,h2,h3,h4,h5,h6,hr,p,ul,ol,dl,dd,fieldset,input,option,textarea,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
img{
	border: none;
}

//宽高
@mixin size($width : 100px,$height : 100px){
    width : $width;
    height : $height;
}

//定位
@mixin position($po : absolute,$left : 0,$top : 0){
    position: $po;
    left: $left;
    top : $top;
}
